<%= form_with(model: artist, class: "row g-3") do |form| %>
  <% if artist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-12 form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="col-12 mt-4 d-flex gap-3 justify-content-end align-items-center">
    <%= link_to "Cancelar", artists_path, class: "btn btn-secondary" %>
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
