<tr id="<%= dom_id director %>">
  <td><%= director.name %></td>
  <td><%= director.created_at %></td>
  <td>
    <%= link_to "Edit this director", edit_director_path(director) %>
    <%= button_to "Destroy this movie director", director, method: :delete %>
  </td>
</tr>
