<div id="carouselMoviesIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">

    <button type="button" data-bs-target="#carouselMoviesIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselMoviesIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselMoviesIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselMoviesIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <% @movies.each do |movie| %>
      <div class="carousel-item <%= "active" if movie.id == @movies.first.id %>">
        <div class="card col-12 dark-gray-6">
          <div class="row g-0 rounded dark-gray-6">
            <div class="col-md-6 mainCard">
              <%= image_tag movie.cover_url, class: "img-fluid" %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <div class="card-title">
                  <% if movie.published_at > Date.today %>
                    <span class="badge text-bg-primary p-1 mb-2 rounded text-uppercase">Em breve</span>
                  <% elsif movie.published_at > 1.month.ago %>
                    <span class="badge text-bg-primary p-1 px-2 mb-2 rounded text-uppercase">Lançamento</span>
                  <% end %>
                  <strong class="d-block">
                    <%= movie.title %>
                  </strong>
                </div>
                <p class="card-text"><b>Diretor:</b> <span><%= movie.director[:name] %></span></p>
                <p class="card-text"><b>Estreia:</b> <span><%=l movie.published_at %></span></p>
                <p class="card-text"><b>Gênero:</b> <span><%= movie.movie_genre[:name] %></span></p>
                <p class="card-text mt-3 mb-4"><b>Elenco:</b> <span><%= movie.artists.collect { |a| a.name }.first(5).join(' - ') %></span></p>
                <p class="card-text text-wrap text-truncate"><%= movie.sinopse %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselMoviesIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselMoviesIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card dark-gray-6">
      <%= image_tag @movies[1].cover_url, class: 'card-img-top' %>
      <div class="card-body">
        <strong class="card-title d-block w-100 text-truncate"><%= @movies[1].title %></strong>
        <p class="card-text"><b>Diretor:</b> <span><%= @movies[1].director[:name] %></span></p>
        <p class="card-text mb-3"><b>Estreia:</b> <span><%=l @movies[1].published_at %></span></p>
        <p class="card-text text-wrap text-truncate"><%= @movies[1].sinopse %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card dark-gray-6">
      <%= image_tag @movies[2].cover_url, class: 'card-img-top' %>
      <div class="card-body">
        <strong class="card-title d-block w-100 text-truncate">
          <%= @movies[2].title %>
        </strong>
        <p class="card-text"><b>Diretor:</b> <span><%= @movies[2].director[:name] %></span></p>
        <p class="card-text mb-3"><b>Estreia:</b> <span><%=l @movies[2].published_at %></span></p>
        <p class="card-text text-wrap text-truncate"><%= @movies[2].sinopse %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card dark-gray-6">
      <%= image_tag @movies[3].cover_url, class: 'card-img-top' %>
      <div class="card-body">
        <strong class="card-title d-block w-100 text-truncate"><%= @movies[3].title %></strong>
        <p class="card-text"><b>Diretor:</b> <span><%= @movies[3].director[:name] %></span></p>
        <p class="card-text mb-3"><b>Estreia:</b> <span><%=l @movies[3].published_at %></span></p>
        <p class="card-text text-wrap text-truncate"><%= @movies[3].sinopse %></p>
      </div>
    </div>
  </div>
</div>