<% if @movies.size > 0 %>
  <div id="carouselMovies" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <% @movies.last(4).reverse.each_with_index do |movie, i| %>
        <button type="button" data-bs-target="#carouselMovies" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i + 1 %>" <%= "aria-current=true class=active" if i == 0 %>></button>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% @movies.last(4).reverse.each do |movie| %>
        <div class="carousel-item <%= "active" if movie.id == @movies.last.id %>">
          <div class="card col-12 dark-gray-6">
            <div class="row g-0 rounded dark-gray-6">
              <div class="mainCard col-md-6">
                <%= image_tag movie.cover_url %>
              </div>
              <div class="card-body col-md-6">
                <div class="card-title">
                  <% if movie.published_at > Date.today %>
                    <span class="badge text-bg-primary p-1 mb-2 rounded text-uppercase">
                      Em breve
                    </span>
                  <% elsif movie.published_at > 1.month.ago %>
                    <span class="badge text-bg-primary p-1 mb-2 rounded text-uppercase">
                      Lançamento
                    </span>
                  <% end %>
                  <strong class="d-block">
                    <%= movie.title %>
                  </strong>
                </div>
                <p class="card-text">
                  <b>Diretor: </b>
                  <span><%= movie.director[:name] %></span>
                </p>
                <p class="card-text">
                  <b>Estreia: </b>
                  <span><%=l movie.published_at %></span>
                </p>
                <p class="card-text">
                  <b>Gênero: </b>
                  <span><%= movie.movie_genre[:name] %></span>
                </p>
                <p class="card-text mt-3 mb-4">
                  <b>Elenco: </b>
                  <span><%= movie.artists.collect { |a| a.name }.first(5).join(' - ') %></span>
                </p>
                <p class="card-text text-wrap text-truncate">
                  <%= movie.sinopse %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMovies" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMovies" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <% @movie_genres.each do |genre| %>
    <% if @movies.joins(:movie_genre).where(movie_genre: genre.id).count > 0 %>
      <section class="mb-3">
        <h3><%= genre.name %></h3>
        <div class="media-scroller gap-3">
          <% @movies.where(movie_genre: genre.id).each do |movie| %>
            <div class="card dark-gray-6 mb-3">
              <div class="card-img-top">
                <%= image_tag movie.cover_url %>
              </div>
              <div class="card-body">
                <strong class="card-title d-block w-100 text-truncate">
                  <%= movie.title %>
                </strong>
                <p class="card-text">
                  <b>Diretor: </b>
                  <span><%= movie.director[:name] %></span>
                </p>
                <p class="card-text mb-3">
                  <b>Estreia: </b>
                  <span><%=l movie.published_at %></span>
                </p>
                <p class="card-text text-wrap text-truncate">
                  <%= movie.sinopse %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>
  <% end %>
<% else %>
  <section>
    <p class="text-center">
      Sem registro de filmes
    </p>
  </section>
<% end %>
