<tr id="<%= dom_id movie_genre %>" class="align-middle">
  <td><%= movie_genre.name %></td>
  <td><%=l movie_genre.created_at %></td>
  <td>
    <%= link_to edit_movie_genre_path(movie_genre), class: "btn btn-link" do %>
      <%= image_tag 'icons/editIcon.png' %>
    <% end %>
    <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#deleteMovieGenre<%= movie_genre.id %>">
      <%= image_tag 'icons/deleteIcon.png' %>
    </button>
  </td>

  <div class="modal fade" id="deleteMovieGenre<%= movie_genre.id %>" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content dark-gray-6">
        <div class="modal-header dark-gray-5 justify-content-center gap-2">
          <svg width="25" height="22" viewBox="0 0 25 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.9723 1.34963C13.3064 0.216789 11.6982 0.216789 11.0324 1.34963L0.746939 18.8496C0.0613895 20.0161 0.884418 21.5 2.21689 21.5H22.7877C24.1202 21.5 24.9432 20.0161 24.2577 18.8496L13.9723 1.34963ZM12.5 6.5C13.3031 6.5 13.9307 7.19343 13.8507 7.99256L13.3246 13.2537C13.2823 13.6774 12.9258 14 12.5 14C12.0742 14 11.7177 13.6774 11.6754 13.2537L11.1493 7.99256C11.0693 7.19343 11.6969 6.5 12.5 6.5ZM12.5023 15.5C13.3307 15.5 14.0023 16.1716 14.0023 17C14.0023 17.8284 13.3307 18.5 12.5023 18.5C11.6739 18.5 11.0023 17.8284 11.0023 17C11.0023 16.1716 11.6739 15.5 12.5023 15.5Z" fill="#FF375F"/>
          </svg>
          <h5 class="modal-title" id="deleteModalLabel">Atenção</h5>
        </div>
        <div class="modal-body px-3 py-5">
          <strong>Deseja realmente excluir este item?</strong>
          <p>Após a exclusão não será mais possível recuperar os dados!</p>
        </div>
        <div class="modal-footer dark-gray-5 px-4 py-3">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <%= button_to "Excluir", movie_genre, method: :delete, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</tr>
