<!DOCTYPE html>
<html>
  <head>
    <title>Zapflix</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="container text-white dark-gray-5">
    <header>
      <%= render 'navbar' %>
    </header>
    <main class="bg-dark-gray-5 mb-3">
      <%= yield %>
    </main>
    <footer>
      <p>Feito com ♥ durante o Kazap Academy 2022</p>
    </footer>
  </body>
</html>
